@font-face {
  font-family: 'Gotham';
  font-weight: 300;
  src: url('/fonts/Gotham-Light.woff') format('woff');
}

@font-face {
  font-family: 'Gotham';
  font-weight: normal;
  src: url('/fonts/Gotham-Book.woff') format('woff');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 500;
  src: url('/fonts/Gotham-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Gotham';
  font-weight: bold;
  src: url('/fonts/Gotham-Bold.woff') format('woff');
}